.delivery__info {
    width: 572px;
    height: 574px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #770613;

    .delivery__title {
        color: #FFF;
        text-align: center;
        font-family: Roboto Slab;
        font-size: 46px;
        font-style: normal;
        font-weight: 400;
        line-height: 64.8px;
    }

    .delivery__text {
        margin: 0 auto;
        padding-top: 100px;
        display: flex;
        width: 400.388px;
        height: 49.559px;
        flex-direction: column;
        justify-content: center;
        color: #FFF;
        text-align: center;
        font-family: Roboto Slab;
        font-size: 18.259px;
        font-style: normal;
        font-weight: 500;
        line-height: 27.388px
    }

    .delivery__navigation {
        display: block;
        margin: 0 auto;
        margin-left: 80px;
        margin-top: 50px;
    }

    .delivery__navigator {
        width: 406.909px;
        height: 67.818px;
        flex-shrink: 0;
        border-radius: 13.042px;
        border: 2.608px solid rgba(176, 76, 8, 0.00);
        background: #89363D;
        display: inline-flex;
        padding: 22.171px 309.094px 23.476px 27.388px;
        align-items: flex-start;
        border-radius: 6.521px;
        color: #FFF;
        font-family: Lato;
        font-size: 18.259px;
        font-style: normal;
        font-weight: 500;
        line-height: 22.171px;
        margin-top: 30px;
    }

    .delivery__control {
        display: flex;
        width: 408.213px;
        height: 67.818px;
        padding: 22.824px 118.421px 22.823px 118.682px;
        justify-content: center;
        align-items: center;
        border-radius: 6.521px;
        background: #167526;
        box-shadow: -1.3042px -1.3042px 1.3042px 0px rgba(0, 0, 0, 0.09);
        border: none;
        color: #FFF;
        padding-top: 30px;
        margin-top: 44px;
    }
}