.jenshen__comments {
    .jenshen__text {
        font-family: Roboto Slab;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        color: white;
    }

    .jenshen__title {
        margin-top: 42px;
        font-family: Roboto Slab;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-family: Roboto Slab;
        font-size: 60px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: white;
    }

    button {
        padding: 20px 30px;
        background-color: #167526;
        color: white;
        border: none;
        margin-top: 40px;
        border-radius: 8px;
    }
}